.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-bg-overlay-elm1 {
  height: 1176px;
}
 
.home-container11 {
  display: none;
}
 
.home-container12 {
  display: contents;
}
 
.home-thq-title-word-elm1 {
  display: inline-block;
}
 
.home-thq-title-word-elm2 {
  display: inline-block;
}
 
.home-thq-title-word-elm3 {
  display: inline-block;
}
 
.home-container13 {
  display: none;
}
 
.home-container14 {
  display: contents;
}
 
.home-container15 {
  display: none;
}
 
.home-container16 {
  display: contents;
}
 
.home-container17 {
  display: none;
}
 
.home-container18 {
  display: contents;
}
 
.home-container19 {
  display: none;
}
 
.home-container20 {
  display: contents;
}
 
.home-thq-insta-background-container-elm2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-container21 {
  display: none;
}
 
.home-container22 {
  display: contents;
}
 
.home-container23 {
  display: none;
}
 
.home-container24 {
  display: contents;
}
 
.home-container25 {
  display: none;
}
 
.home-container26 {
  display: contents;
}
 
.home-container27 {
  display: none;
}
 
.home-container28 {
  display: contents;
}
 
.home-container29 {
  display: none;
}
 
.home-container30 {
  display: contents;
}
 
.home-thq-title-word-elm7 {
  display: block;
}
 
.home-thq-title-word-elm8 {
  display: block;
}
 
.home-thq-title-word-elm9 {
  display: block;
}
 
.home-container31 {
  display: none;
}
 
.home-container32 {
  display: contents;
}
 
.home-container33 {
  display: none;
}
 
.home-container34 {
  display: contents;
}
 
.home-link23 {
  display: contents;
}
 
.home-container35 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon56 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text36 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
